:root{
    --background-color: rgb(35 39 47);
    --text-color: white;
    --background-color: rgb(35 39 47);
    --button-text-color:white;
    --button-hover: rgb(47, 52, 63);
    --bg-input: rgb(47, 52, 63);
}

body[data-theme = 'light']{
    --background-color: white;
    --text-color: rgb(35 39 47);
    --background-color: white;
    --button-text-color:rgb(35 39 47);
    --button-hover: rgb(232, 232, 232);
    --bg-input:rgb(232, 232, 232);
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}
.header{
    display: flex;
    align-items: center;
    padding: 15px 35px;
    justify-content: space-evenly;
}
.header input{
    width: 45%;
    padding: 15px 20px;
    background-color: var(--bg-input);
    outline: none;
    color: var(--text-color);
    font-size: 18px;
    border: none;
    border-radius: 40px;
}
.header #react-icon{
    width: 40px;
    cursor: pointer;
}
.header svg{
    width: 30px;
    padding: 10px;
}
.header svg:hover{
    background-color: var(--button-hover);
    border-radius: 50%;
    cursor: pointer;
}
.header button{
    padding: 15px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--text-color);
}
.header button a{
    text-decoration: none;
    color: white;
}
.header button:hover{
    background-color: var(--button-hover);
}


.body{
    text-align: center;
}
.body img{
    width: 150px;
    height: 150px;
    margin-top: 100px;
}
.body h1{
    font-size: 43px;
}
.body h2{
    font-size: 30px;
}
.body #learn-btn{
    background-color: rgb(88 196 220);
    color: var(--background-color);
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.body #api-btn{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    border: 1px solid rgb(65, 72, 86);
    margin-left: 10px;
    cursor: pointer;
}

.side-menu{
    width: 20%;
    text-align: left;
    padding: 20px 0px;
    height: calc(100vh - 135px);
    overflow: auto;
    scrollbar-width: none;
}
#item{
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;
}
#item:hover{
    background-color: rgb(54, 56, 65);
}
#childer{
    font-size: 16px;
    padding: 8px 25px;
    cursor: pointer;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.2s ease;
}
#childer:hover{
    background-color: rgb(54, 56, 65);
}
#current-path{
    background-color: var(--button-hover);
}

.learn-container{
    display: flex;
}
.learn-right-side{
    padding-left: 50px;
    width: 60%;
}
.learn-right-side h1{
    font-size: 45px;
}
.learn-right-side p{
    font-size: 20px;
}
.learn-list{
    width: 100%;
    background-color: var(--background-color);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}
.learn-list ul li{
    font-size: 18px;
}