.app{
    width: 80%;
    font-family: calibri;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.app .search-conatiner{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.app .search-conatiner input{
    border: 1px solid black;
    padding: 6px 15px;
    border-radius: 2px;
    outline: none;
}
.app .search-conatiner #search_btn{
    background-color: rgb(58, 123, 208);
    color: white;
    padding: 6px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.app .search-conatiner #reset_btn{
    background-color: rgb(74, 69, 91);
    color: white;
    padding: 6px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}


.app .categories-container{
    width: 100%;
}
.app .categories-container button{
    width: 25%;
    border-radius: 0px;
    background-color: rgb(167, 166, 166);
    color: white;
    padding: 8px 0px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
#selected{
    background-color: black;
}

.app .products-container table{
    border: 1px solid rgb(189, 189, 189);
}
.app .products-container table img{
    width: 200px;
    height: 200px;
}

.app .products-container #price,#category,#rating{
    font-weight: 600;
    font-size: 18px;
    padding: 4px 6px;
    height: 20px;
    border-radius: 8px;
}