body{
    padding: 20px 100px;
}
.form-switch{
    display: flex;
    justify-content: end;
}
.form-switch input{
    cursor: pointer;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards .card{
    width: 20%;
}

.darkMode{
    background-color: black;
    color: white;
}